*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

input, button {
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
}

.container{
  width: 100%;
  padding: 0 15%;
}

.navbar{
  height:60px;
  width:100%;
  display:flex;
  align-items: center;
  padding: 0 5%;
  position: absolute;
  color: #fff;

  .navbar-items{
    display: flex;
    margin-left: auto;

    a{
      color: #fff;
      margin-left: 1.5rem;
    }
  }
}

.header{
  height:400px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;

  background-color: #8783e3;
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-position: center center;

  input{
    width: 50%;
    height: 48px;
    border: none;
    padding: 0 1rem;
    font-size: .9rem;
  }

  h1{
    font-weight: 800;
    font-size: 2.6rem;
    color: #fff;
  }
}

button{
  padding: .75rem 1rem;
  border: none;
}

.button-red{
  background-color: red;
  color: #fff;
}

.button-green{
  background-color: green;
  color: #fff;
}

.button-blue{
  background-color: blue;
  color: #fff;
}

.window{
  width: 100%;
  height: 300px;
  background-color: #fff;
  border-radius: .5rem;
  border: 1px solid #acacac;
  margin-bottom: 2rem;

  .window-header{
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: .5rem .5rem 0 0;
    padding: 0 24px;
    background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);

    .window-button{
      display: flex;

      .btn{
        height: 16px;
        width: 16px;
        border-radius: 50%;
        margin-right: 4px;
      }

      .red{
        background-color: #ff5c5c;
      }
      .green{
        background-color: #00ca56;
      }
      .yellow{
        background-color: #ffbd4c;
      }
    }
  }

  .window-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}